/* font */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body {
    /* padding: 100px; */
    padding: 5rem;
    font-family: 'Libre Baskerville', serif;
}

.submit-area {
    background-color: #fdfdff;
    margin-top: 3rem;
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 6px 6px 13px gray;
}

.form-control {
    border: 2px solid skyblue;
}

.text-center span {
    color: royalblue;
}

#login-area h5 {
    border: 3px solid lavender;
    border-radius: 12px;
    margin: 0 16%;
    padding: 0.4rem 0;
    box-shadow: 4px 4px 5px lavender;
}

#transaction-area {
    display: none;
}

.deposit {
    background-color: slateblue;
}

.withdraw {
    background-color: #d0d0e7;
    color: black !important;
}

.balance {
    background-color: black;
}

.status {
    margin: 0 20px;
    border-radius: 15px;
    padding: 20px;
    color: white;
}

footer {
    background-color: lavender;
    color: #212121;
    margin: 0 10%;
    border-radius: 15px;
}


/* media queries */
@media only screen and (max-width: 768px) {
    body {
        padding: 2rem;
    }

    h1 {
        margin-top: 4rem;
    }

    .submit-area {
        text-align: center;
        margin-top: 3rem;
        padding: 1.2rem;
    }

    .status {
        margin-bottom: 1.5rem;
        text-align: center;
    }
}


/* .my-button */
.my-button {
    padding: 0.3rem 1.7rem;
    /* border: unset; */
    border-radius: 15px;
    border: 3px solid green;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 0.8rem;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

.my-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.my-button:hover {
    color: #e8e8e8;
}

.my-button:hover::before {
    width: 100%;
}